./*genric*/

.text-white {
  color: white !important;
}

.text-black {
  color: #666 !important;
}

.white {
  background-color: #fff !important;
}

.blue {
  background-color: #2a41e8 !important;
}

.line-height-html {
  line-height: 1.15em;
}

.bottom-border {
  border-bottom: 1px solid #333; 
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.color-blue{
  color: #2a41e8;
}

.width-100{

	width: 100% !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -moz-appearance: none !important;
  -webkit-appearance:none !important;
  appearance:none;
}

.font-xl{
  font-size: 42px !important;
}

.font-medium{
  font-size: 30px !important;
}

.section-headline h3 strong{
  position: relative;
  color: #821c12 !important;
}


.color-white{
	color: #fff !important;
}

button.cta-sticky {
  text-transform: uppercase;
}

.section-headline h3 strong::after{
	position: absolute;
  content: "";
  height: 3px;
  background: #821c12;
  width: 45%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  margin-bottom: -5px;
  margin-left: 5px;
}

.section-headline-white h3 strong::after{
  position: absolute;
  content: "";
  height: 3px;
  background: #fff;
  width: 45%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  margin-bottom: -5px;
  margin-left: 5px;
}

#newsletterEmail{width: 400px;}
.success{color:#5f9025 !important;}
.error{color:#de5959  !important;}

body{
  width: 100%;
  position: relative;
  box-sizing: border-box;
}